.parts {
	display: flex;
	margin: 0 -45px;
	&.ai-center {
		align-items: center;
	}
	.part {
		width: 50%;
		padding: 0 45px;
		position: relative;
		&:nth-child(1) {
		}
		&:nth-child(2) {
		}
	}

	@media only screen and (max-width : $mw) {
		flex-wrap: wrap;
		.part {
			width: 100%;
			&:nth-child(2) {
				margin-top: 25px;
			}
		}
	}
}

.image {
	text-align: center;
	img {
		max-width: 100%;
	}
}

.button.decorated {
	border: 2px solid #F01613;
	padding: 13px 25px;
	border-radius: 200px;
	position: relative;
	margin-top: 50px;
	display: inline-block;

	span, img {
		vertical-align: middle;
	}
	span {
		@include f-m;
		font-size: 17px;
		color: #18191C;
		transition: 0.5s;
	}
	img {
		margin-left: 5px;
	}



	cursor: pointer;
	&:hover {
		span {
			color: #F01613;;
		}

	}
    
}

.section-title {
	@include f-b;
	font-size: 55px;
	color: #18191C;
	text-align: right;
	&.decorated {
		position: relative;
		margin: 35px 0;
		.decor {
			@include f-wellfont-r;
			font-size: 218px;
			line-height: 1;
			color: #D7D9E3;
			position: absolute;
			right: 0px;
			top: 50%;
			transform: translateY(-55%);
			direction: ltr;
			white-space: nowrap;
		}

		.main {
			position: relative;
			z-index: 2;
		}
	}

	&.red-line {
		position: relative;
		display: inline-block;
		padding-bottom: 13px;
		padding-left: 10px;
		&:after {
			content: "";
			position: absolute;
			display: block;
			height: 4px;
			width: 200%;
			bottom: 0;
			left: 0;
			background-color: #F01613;
			border-radius: 3px;
		}
	}

	&.centered {
		text-align: center;
		&.decorated {
			.decor {
				right: auto;
				left: 50%;
				transform: translateY(-55%) translateX(-50%);
			}
		}
	}
	
	@media only screen and (max-width : $lw) {
		font-size: 48px;
		&.decorated {
			margin: 25px 0;
			.decor {
				font-size: 180px;
			}
		}
	}

	@media only screen and (max-width : $mw) {
		font-size: 35px;
		&.decorated {
			margin: 15px 0;
			.decor {
				font-size: 100px;
			}
		}
	}
}
.section-subtitle {
	@include f-r;
	font-size: 17px;
	line-height: 1.5;
	color: #18191C;
	text-align: center;
	margin: auto;
	margin-top: 45px;
	max-width: 735px;
	position: relative;
	z-index: 9;

	&.mt-20 {
		margin-top: 20px;
	}
}


.wrap-scrolldownhoney {
	left: 50%;
	position: absolute;
	text-align: center;
	bottom: 10px;
	transform: translate(-50%, -50%);
	cursor: pointer;
	.scrolldownhoney {
	  border: 2px solid #FFFFFF;
	  border-radius: 30px;
	  height: 46px;
	  text-align: center;
	  width: 25px;
	  
	  .scrolldownhoney-c1,
	  .scrolldownhoney-c2 {
		animation-duration: 1.5s;
		animation-name: scrolldownhoney;
		animation-iteration-count: infinite;
		fill: #FFFFFF;
		}
	}
	
	.scrolldownhoney-c2 {
	  animation-delay: .75s;
	 }

  
	 @media only screen and (max-width : $lw) {
		
	 }

	 @media only screen and (max-width : $mw) {
		
	 }
}
  
@keyframes scrolldownhoney {
	0%{
	  opacity: 0;
	  transform:translate(0, -8px);
	}
	50% {
	  opacity: 1;
	  transform: translate(0, 0);
	}
	100% {
	  opacity: 0;
	  transform: translate(0, 8px);
	}
}

.loading:after {
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    content: "\f1ce";
    animation: fa-spin .75s linear infinite;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    color: #227BC9;
    z-index: 2;
}

#sm_menu_ham {
	float: left;
	left: auto;
	top: 11px;
	left: 7px;
	right: auto;
	span {
		background-color: #fff;
		height: 3px;
	}
}

.sm_menu_outer {
	background: #000;
	&.slide .mobile_menu .sub-menu {
		background: #000;;
		height: 800px;
	}
	.mobile_menu {
		li {
			border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0) 100%) 0 0 1 0;
		}
		a {
			@include f-r;
			 padding: 15px 15px;
		}
		.current_page_item {
			>a {
				@include f-b;
			}
		}
	}
}

.sm_menu_outer.slide .mobile_menu li.hasChild > a {
    background: url(../plugins/mmenu/images/next.png) no-repeat scroll 10px center / 5% auto;
}

.sm_menu_outer .mobile_menu li.back a {
    padding: 20px 45px 20px 5px;
    background: url(../plugins/mmenu/images/back.png) no-repeat scroll right 15px center / 5% auto;
}

.sm_menu_outer {
    bottom: 0;
    height: auto;
    top: 45px;
}





.drum {
	--drum-yellow: #e9c46a;
	--drum-dark-yellow: #cf9b1f;
	--drum-light-red: #ef233c;
	--drum-dark-red: #6a040f;
	--drum-white: #edf6f9;
	--drum-top: #cec2ab;
	--drum-stick: #000;--drum-yellow: #000;
	--drum-dark-yellow: #cf9b1f;
	--drum-light-red: #ef233c;
	--drum-dark-red: #6a040f;
	--drum-white: #edf6f9;
	--drum-top: #cec2ab;
	--drum-stick: #000;
  
	position: relative;

	direction: ltr;
	* {
		direction: ltr;
	}
  }
  
  
  .drum .drum-stick {
	position: absolute;
	z-index: 5;
	width: 6rem;
	height: 0.3rem;
	background: var(--drum-stick);
	border-radius: 50% 20% 20% 50% / 50% ;
	transform-origin: 90% 50%;
  }
  
  .drum .drum-stick::before {
	content: '';
	display: block;
	position: absolute;
	width: 0.4rem;
	height: 0.3rem;
	background: var(--drum-stick);
	border-radius: 50%;
  }
  
  .drum .drum-stick.drum-stick--left {
	left: -8rem;
	top: -3.5rem;
	transform: rotate(-170deg);
	animation: anim-drum-stick-left 0.3s infinite;
  }
  
  .drum .drum-stick.drum-stick--right {
	left: 13rem;
	top: -3.5rem;
	transform: rotate(-30deg);
	animation: anim-drum-stick-right 0.3s infinite;
  }
  
  .drum .drum-stick-shadow {
	position: absolute;
	top: -1rem;
	width: 1.5rem;
	height: 0.75rem;
	background: radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 50%);
	border-radius: 50%;
  }
  
  .drum .drum-stick-shadow.drum-stick-shadow--left {
	left: 1.25rem;
	animation: anim-drum-shadow-left 0.3s infinite;
  }
  
  .drum .drum-stick-shadow.drum-stick-shadow--right {
	left: 13rem;
	animation: anim-drum-shadow-right 0.3s infinite;
  }
  
  @keyframes anim-drum-stick-left {
	0%   { transform: rotate(-170deg) translateX(1rem); }
	50%   { transform: rotate(-150deg) translateX(0); }
	100% { transform: rotate(-170deg) translateX(1rem); }
  }
  
  @keyframes anim-drum-shadow-left {
	0%   { transform: scale(1.6); opacity: 0.3; }
	50%   { transform: scale(0.6); opacity: 1; }
	100% { transform: scale(1.6); opacity: 0.3; }
  }
  
  
  @keyframes anim-drum-stick-right {
	0%   { transform: rotate(-30deg) translateX(0); }
	50%   { transform: rotate(-10deg) translateX(1rem); }
	100% { transform: rotate(-30deg) translateX(0); }
  }
  
  @keyframes anim-drum-shadow-right {
	0%   { transform: scale(0.6); opacity: 1; }
	50%   { transform: scale(1.6); opacity: 0.3; }
	100% { transform: scale(0.6); opacity: 1; }
  }
  